.center_div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:25%;
    left:20%;
}
.center_btns{
    position:absolute;
    left:48%;
}

#output{
    position:absolute;
    top:40%;
    left:15%;
    border: 2px solid black;
}